@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Nunito";
}
header{
    height: 80px;
    width: 100%;
    background-color: rgb(216, 55, 55);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{


}
.menu{
list-style: none;
text-align: center;
height: 20%;
}
menu li a{
    color: white;
    text-decoration: none;
    font-weight: 900;
    transition: background-color 0.3s;
}
menu li:hover{
    background: #fff;
    color: blueviolet;
}
nav{
    height: 100%;
    width: 100%;
}